#main {
  /* 배경색 */
  background-color: white;
  /* 너비 */
  width: 85%;
  /* 글자 정렬 중앙*/
  text-align: center;
  /* 모서리 둥글게*/
  border-radius: 10px;
}

#mainp {
  font-size: 18px;
  font-weight: 700;
}
h3,
h1,
h2 {
  font-weight: 900;
}
